{{!-- {{Add a sign in page}} --}}
<div class="photo-cover">
    <section class="cover">
        <div class="container">
            <div class="row">

                <div class="modal fade bd-example-modal-lg" data-backdrop="static" data-keyboard="false" tabindex="-1">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content" style="width: 48px">
                            <span class="fa fa-spinner fa-spin fa-3x"></span>
                        </div>
                    </div>
                </div>

                <div class="justify-content-center align-items-center" style="padding: 0.8rem">
                    <h1 class="display-4" id="header">{{ header }}</h1>
                    <br>

                    <p class="text-center  position-relative"><em>{{ header }}</em> {{ welcome_message }}</p>

                    <p><h4 class="text-center" id="typedJS"></h4></p>

                    {{#if error_message}}
                        <div class="text-center position-relative error-div">
                            {{ error_message }}
                        </div>
                    {{/if}}

                    <form action="/" method="post" class="form-control-static">
                        <div class="form-group">
                            <label class="sr-only">username</label>
                            <input type="text" class="form-control form-control-md" placeholder="Username"
                                   name="username" maxlength="20"
                                   required="required"/>
                        </div>
                        <div class="form-group">
                            <label class="sr-only">email</label>
                            <input type="email" class="form-control form-control-md" placeholder="Email" name="email"
                                   required="required"/>
                        </div>
                        <div class="form-group">
                            <label class="sr-only">phone</label>
                            <input type="tel" class="form-control form-control-md" placeholder="Phone Number"
                                   name="phone" maxlength="11"
                                   required="required"/>
                        </div>
                        <div class="form-group">
                            <label class="sr-only">password</label>
                            <input type="password" class="form-control form-control-md" placeholder="Password"
                                   name="password" required="required"/>
                        </div>
                        <div class="form-group">
                            <label class="sr-only">confirm password</label>
                            <input type="password" class="form-control form-control-md" placeholder="Confirm Password"
                                   name="passwordConf" required="required"/>
                        </div>
                        <button id="sign-up-btn" class="btn btn-info form-control">Sign Up</button>
                    </form>

                    <br>

                    <div class="text-center">
                        <p class="small">Already have an account?</p>
                        <a href="/login" class="btn btn-outline-info" role="button">Login</a>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </section>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.6/typed.js"></script>
<script>
    $(document).ready(function () {
        mixpanel.track("Page loaded");
        
        var options = {
            strings: ['"kipeet"'],
            typeSpeed: 60,
            // time before typing starts
            startDelay: 3000,
            // backspacing speed
            backSpeed: 200,
            // time before backspacing
            backDelay: 5000,
            // loop
            loop: true,
            // false = infinite
            loopCount: 5,
            // show cursor
            showCursor: false,
            // character for cursor
            cursorChar: "|",
            // attribute to type (null == text)
            attr: null,
            // either html or text
            contentType: 'html',
        };
        var typed = new Typed("#typedJS", options);

        $('#sign-up-btn').on('click', function () {
            $('.modal').modal('show');
            setTimeout(function () {
                $('.modal').modal('hide');
            }, 3000);
        });
    });
</script>