{{>nav}}

<div class="user-container justify-content-center align-items-center col-sm-8">
    <div>
        <div><h5>Number of tasks: <span class="label label-info"> {{ task_length }} </span></h5></div>
        <div id="add-and-cancel">
            <div class="form-group">
                <a id="add-task" href='#'>
                    <button class="btn btn-outline-info my-2 my-sm-0" type="button">Add Task</button>
                </a>
            </div>
            <div class="form-group">
                <a id="cancel-add-task" href='#'>
                    <button class="btn btn-danger my-2 my-sm-0" type="button" style="background-color: #F51A2F">Cancel
                    </button>
                </a>
            </div>
        </div>
    </div>

    <form action="/api/tasks/add" method="post" id="add-task-block" class="form-control-static">
        <div class="form-group">
            <label class="sr-only">Add Task</label>
            <input type="text" class="form-control form-control-md" placeholder="Title" name="title" maxlength="60"
                   required="required"/>
        </div>
        <div class="form-group">
            <label class="sr-only">Task Body</label>
            <textarea class="form-control form-control-md" placeholder="Body" rows="4" name="body"
                      required="required"></textarea>
        </div>
        <div class="form-group">
            <button class="btn btn-success my-2 my-sm-0" type="submit">Save</button>
        </div>
    </form>

    <!--//Not working yet-->
    {{> delete }}

    {{#each tasks}}
        <div class="card">
            <div class="card-header" id="{{ this._id }}">
                <h6 class="task-title">{{ this.title }}</h6>
                <div class="task-body-block list-inline" id="togg-{{ this._id }}" style="padding: 0;">
                    <small><a href="" class="task-link">Edit</a></small>
                    <span> | </span>
                    <small><a href="" id="del-{{ this._id }}" class="task-link task-delete">Delete</a></small>
                </div>
            </div>

            <div class="task-body-block card-block" id="tog-{{ this._id }}">
                <blockquote class="card-blockquote">
                    <p>{{ this.body }}</p>
                    <footer>Created on: <cite title="Source Title">{{ this.created_at }}</cite></footer>
                </blockquote>
            </div>
        </div>
        <br>
    {{/each}}
</div>

<script>
    $('#add-task').on('click', function () {
        $('#add-task-block, #cancel-add-task, #save-task').show();
    });

    $('#cancel-add-task').on('click', function () {
        $('#add-task-block, #cancel-add-task, #save-task').hide();
    });

    $('#save-task').on('click', function () {
        $('#add-task-block, #cancel-add-task, #save-task').hide();
    });

    $('.card-header').on('click', function () {
        $('#tog-' + $(this).attr('id')).toggle();
        $('#togg-' + $(this).attr('id')).toggle();
    });

    $('.task-delete').on('click', function (e) {
        console.log('Ode bi');
        e.preventDefault();
        var id = $(this).attr('id');

        $.ajax({
            url: '/api/tasks/delete/' + id.substr(4),
            type: 'DELETE',
            success: function () {
                console.log('on success');
                location.reload(true);
            },
            error: function () {
                console.log('on error');
                location.reload(false);
            }
        });
    });
</script>