{{>nav}}

<div class="user-container justify-content-center align-items-center col-sm-8">
    <div>
        <div><h5>Number of peets: <span class="label label-info"> {{ task_length }} </span></h5></div>
        <div id="add-and-cancel">
            <div class="form-group">
                <a id="add-task" href='#'>
                    <button class="btn btn-outline-info my-2 my-sm-0" type="button">Add Peet</button>
                </a>
            </div>
            <div class="form-group">
                <a id="cancel-add-task" href='#'>
                    <button class="btn btn-danger my-2 my-sm-0" type="button" style="background-color: #F51A2F">Cancel
                    </button>
                </a>
            </div>
        </div>
    </div>

    <div id="add-task-block" class="form-control-static">
        <div class="form-group">
            <label class="sr-only">Add Peet</label>
            <input type="text" id="task-title" class="form-control form-control-md" placeholder="Title" name="title" maxlength="60"
                   required="required"/>
        </div>
        <div class="form-group">
            <label class="sr-only">Peet Body</label>
            <textarea id="task-body" class="form-control form-control-md" placeholder="Body" rows="4" name="body"
                      required="required"></textarea>
        </div>
        <div class="form-group">
            <button id="save-task" class="btn btn-success my-2 my-sm-0" style="margin-left: 0 !important;" type="button">Save</button>
        </div>
    </div>

    <!--//Not working yet... mean to be a modal-->
    {{> delete }}

    {{#if tasks}}
    {{#each tasks}}
        <div class="card">
            <div class="card-header" id="{{ this._id }}">
                <h6 class="task-title">{{ this.title }}</h6>
                <div class="task-body-block list-inline" id="tog-options-{{ this._id }}" style="padding: 0;">
                    <small><a href="/api/tasks/edit/{{ this._id }}" class="task-link">Edit</a></small>
                    <span> | </span>
                    <small><a href="" id="del-{{ this._id }}" class="task-link task-delete">Delete</a></small>
                </div>
            </div>

            <div class="task-body-block card-block" id="tog-body-{{ this._id }}">
                <blockquote class="card-blockquote">
                    <pre>{{ this.body }}</pre>
                </blockquote>
            </div>
        </div>
        <br>
    {{/each}}
    {{/if}}
</div>

<script>

    $('#add-task').on('click', function () {
        $('#add-task-block, #cancel-add-task, #save-task').show();
    });

    $('#cancel-add-task').on('click', function () {
        $('#add-task-block, #cancel-add-task, #save-task').hide();
    });

    $('#save-task').on('click', function () {
        var title = $('#task-title').val();
        var body = $('#task-body').val();

        if (title == "" || body == "") {
            return;
        }

        //Use ajax to add task
        $.ajax({
            url: '/api/tasks/add',
            type: 'POST',
            data: {
                title: title,
                body: body
            },
            success: function () {
                location.reload(true);
            },
            error: function() {
                location.reload(false);
            }
        });
    });

    $('.card-header').on('click', function () {
        $('#tog-options-' + $(this).attr('id')).toggle(100);
        $('#tog-body-' + $(this).attr('id')).toggle(400);
    });

    $('.task-delete').on('click', function (e) {
        e.preventDefault();
        var id = $(this).attr('id');

        $.ajax({
            url: '/api/tasks/delete/' + id.substr(4),
            type: 'DELETE',
            success: function () {
                location.reload(true);
            },
            error: function () {
                location.reload(false);
            }
        });
    });
</script>